table {font-family:verdana, arial, sans-serif;}
td {border: solid 0px #264576; font-size:12px; padding:0px; }

table#weeknav {
	border-width:0px 0px 0px 0px;
}
table#weeknav td{
	border-width:0px 0px 0px 0px;
	font-size:14px;
//	font-weight:bold;
}
table#shiftbox {
	//border-collapse:collapse; font-family:verdana, arial, sans-serif;
	border: solid 0px #264576 !important;
	width:100%;
}
table#shiftbox td{
	padding:0px;
	border: solid 0px #264576 !important;
}
.persons {
	height:55px;
	//border-style: none;
}
.notes {
	height:20px;
	//border-style: none;
}

table#calendar {
	background-color:white;
//	width:950px;
}
table#calendar td{
	padding:0px;
	border: solid 1px #264576;
}
.hour{
	width:90px;
	height:30px;
	border: 0px;
	vertical-align:top;
	background-color:lightblue;
}
.masterhour{
	width:90px;
	height:30px;
	border: 0px;
	vertical-align:top;
	background-color:#ffdddd;
}
.shift {
		vertical-align:top;
		height:25px;
		width:120px;
}
.note {
		vertical-align:top;
}
.note_e {
		vertical-align:top;
}
.dow {
	width:110px;
}
.dom {
	width:20px;
	background-color:black;
	color:white;
	font-weight:bold;
}
.weekname {
	font-weight:bold;
	height:25px;
	font-size:18px;
	background-color:lightblue;
}

a#weeknavlink {
color:#000;
}
a#weeknavlink:hover {
background-color:lightgray;
}


a#shiftlink {
display:block;
color:#000;
text-decoration:none;
font-weight:normal;
height:100%;
width:100%;
}

a#shiftlink:hover {
background-color:lightgray;
}

textarea {
	//border: 1px solid #000000;
}
textarea#mgr_notes{
width: 96%;
height: 25px;
}
textarea#shift_notes{
width: 96%;
height: 25px;
}
table#view_scl {
}

p#shift {padding-left: 3px; padding-right:3px;}